# Vim temporaries
.*.sw[op]

# Object files and executables
dupes
a.out
*.o
*.a
*.so

*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

# Directories
_obj
_test
